<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katherine.cpgfinal" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TipoActivity"
            android:label="@string/title_activity_tipo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".usuarioActivity"
            android:label="@string/title_activity_usuario"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UsuarioActivity"
            android:label="@string/title_activity_usuario"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Main3Activity" >
        </activity>
        <activity android:name=".CheckBoxes" >
        </activity>
        <activity android:name=".Mapa" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA61YoIqmvu6My1O0rfczSaFEOEe0cj_pc" />


        <service
            android:name=".RutaIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
